
body{
 background-color:34282C;
 color:white;}
 
.box{
background-color:34282C;
color:white;
}

.box-border{
background-color:34282C;
color:white;
box-shadow:None;
border-color:white;
}

.dropdown {
background-color:34282C;
color:347C17;}

.button{
color:254117;
background-color:34282C;
border:none;}

button.button:focus{
color:white;
background-color:34282C;
border:1px solid black;
}

button.button:active{
color:white;
background-color:34282C;
border:1px solid black;
}

button{
background-color:34282C;
border:None;
}

.hideform{
backgroud-color:34282C;
}

.icon{
color:347C17;
background-color:34282C}

.form{
background-color:34282C}

a.new{
background-color:34282C;
color:347C17;
}

button.sticker{
background-color:34282C;
border:none;
color:757575;
}

a.menu{
background-color:34282C;
color:347C17;
}

.bold-black{
color:white;
}

.desize{
background-color:34282C;}

.mesize{
color:white;
background-color:34282C;
}

a.menu{
color:347C17
}

.reply{
color:white;
}

.button{
color:white
}

.bottom-side{
box-shadow:None;
color:254117;
background-color:white;}

a.popovers{
b
}

.other{
color:617C58}

button#getid{
color:617C58}

.spe{
color:white;
}